<%- include('./partials/navbar') %>
<%- include('./layouts/boilerplate') %>
<head>
   <title><%= post.title %></title>
   <link rel="stylesheet" href="/css/post.css">
</head>
<body>
  <div class="container mt-4 content">
    <h5 class="card-title"><%= post.title %></h5>
    <div class="content-container">
      <div class="card-img-box">
        <img src="/uploads/<%= post.image %>" class="card-img img-fluid" alt="<%= post.title %>">
      </div>
      <div class="card-content">
        <p class="card-text"><%= post.content %></p>
        
        <% if (admin) { %>
          <!-- Edit Button -->
          <a href="/posts/<%= post._id %>/edit" class="btn btn-primary">Edit</a>

          <!-- Delete Button -->
          <form action="/posts/<%= post._id %>?_method=DELETE" method="POST" style="display: inline;">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        <% } %>
        
      </div>
    </div>
<div class="container mt-4">
    <h5>Comments</h5>
    <ul class="list-group">
      <% if (post.comments && post.comments.length > 0) { %>
        <% post.comments.forEach(comment => { %>
          <li class="list-group-item">
            <%= comment.content %> -- <%= comment.user.name %>
            <span class="text-muted float-right"><%= new Date(comment.timestamp).toLocaleDateString() %></span>
            <% if (admin) { %>
              <!-- Delete Comment Button -->
              <form action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST" style="display: inline;">
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
              </form>
            <% } %>
          </li>
        <% }) %>
      <% } else { %>
        <li class="list-group-item">No comments yet.</li>
      <% } %>
    </ul>

    <h5>Add a Comment</h5>
    <form action="/posts/<%= post._id %>/comments" method="POST" class="mt-4">
      <div class="form-group">
        <textarea name="content" class="form-control" rows="3" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

  </div>

  <%- include('./partials/footer') %>
</body>


